@import '/resources/global.css';
body {
  background-color: var(--silver-pink);
}
main {
  padding-left: 2vw;
  padding-right: 2vw;
}
/*apply color everywhere unless overridden*/
* {
  color: var(--light-text);
}
h2 {
  font-size: 150%;
  margin-bottom: 0px;
}
p, li, ul {
  margin-top: 0px;
  line-height: 1.5;
}
p {
  font-size: 120%;
}
li {
  font-size: 110%;
}
ul {
  font-size: 95%;
}