@import '/resources/global.css';

/*main header, set colors*/
.page_header {
  background-color: var(--english-lavender);
  border-radius: 25px;
  width: 100%;
}

/*make full width, center content*/
.header_content {
  display: flex;
  align-items: center;
  width: 100%;
}

/*size the icon*/
.header_icon {
  width: max(6%, 6vh);
  display: inline-block;
  padding: 1%;
}

/*title and nav bar, center*/
.header_right_bar {
  display: inline-block;
  width: 100%;
}

/*size the title, move it down*/
.header_text {
  font-size: max(220%, 3vh);
  color: var(--dark-text);
  position: relative;
  top: 1vh;
}

/*move nav bar up*/
nav {
  position: relative; 
  top: -1vh;
}

/*top level ul*/
nav ul {
  padding: 0;
  margin: 0;
}
/* all li*/
nav li {
  padding: 0.5%;
}
/*top level li*/
nav ul li {
  display: inline;
  position: relative;
}


/*style for a vertical line
only apply to top level elements
do not apply to first element*/
nav > ul > li:not(:first-child) {
  border-left: 2px solid var(--independence);
}

/*sub ul for drop downs*/
nav ul ul {
  position: absolute;
  left: 0;
  display: none;
  background-color: var(--english-lavender);
}
/*sub li for drop down*/
nav ul ul li {
  display: block;
  padding-top: 10%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
}
/*show the sub list on hover*/
nav li:hover ul {
  display: block;
  padding-right: 10%;
}

/*attribute for links*/
nav li a {
  text-decoration: none;
  font-size: 130%;
  color: var(--link-text);
}
/*change link color on hover*/
nav li a:hover {
  color: var(--dark-text);
}