@import '/resources/global.css';

.page_header {
  background-color: var(--english-lavender);
  padding-bottom: 2vh;
  border-radius: 25px;
}
.header_icon {
  width: 12vw;
  vertical-align: middle;
  padding: 5px;
}
.header_text {
  padding-left: 2vw;
  vertical-align: middle;
  display: inline;
  font-size: 6vw;
  color: var(--dark-text);
}

/*move nav bar over*/
nav {
  padding-left: 14vw;
}

/*top level ul*/
nav ul {
  padding: 0;
  margin: 0;
}
/* all li*/
nav li {
  padding: 2vw;
}
/*top level li*/
nav ul li {
  display: inline;
  position: relative;
}

/*sub ul for drop downs*/
nav ul ul {
  position: absolute;
  left: 0;
  display: none;
  background-color: var(--english-lavender);
}
/*sub li for drop down*/
nav ul ul li {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
}
/*show the sub list on hover*/
nav li:hover ul {
  display: block;
}

/*attribute for links*/
nav li a {
  text-decoration: none;
  font-size: max(2vh,3vw);
  color: var(--link-text);
}
/*change link color on hover*/
nav li a:hover {
  color: var(--dark-text);
}