@import '/resources/global.css';


.working-indicator {
  display: none;
  border: 8px solid var(--light-gray);
  border-radius: 50%;
  border-top: 8px solid var(--independence);
  border-bottom: 8px solid var(--independence);
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  align-self: center;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
}

.app-header {
  flex: 1;
}

.spacer {
  height: 30px;
  width: 30px;
}

.element-group {
  width: 70%;
  display: flex;
  align-items: center;
  flex: 1;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 8px;
  padding: 4px;
  background-color: var(--english-lavender);
}

.control-group {
  display: flex;
  padding: 5px;
  background-color: var(--english-lavender);
}

.icontrol-group .left {
  margin-right: auto;
}
.control-group .right {
  margin-left: auto;
}
.control-button {
  margin: 5px;
}
.input-area {
  flex: 1;
  resize: none;
  font-size: large; 
  background-color: var(--light-gray);
}


#output {
  width: 50%;
}

#output-table #error {
  padding: 5px;
}

#output-table .outputRow {
  padding: 8px;
  margin: 20px;
}
#output-table .outputRow td {
  border: 1px solid black;
  padding: 5px;
}